@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body{
    background-color: #191919;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

#home{
    margin-top: 10px;
}
.header-container{
    position: sticky;
    top: 0;
    bottom: 0px;
    padding-bottom: 10px;
}

.navbar-container{
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
    box-shadow: 1px 1px 7px #eeeeee;
    flex-direction: row;
    width: 100%;
    max-height: 90px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #191919;
}

.header-logo-png{
    width: 10%;
    margin-left: 20px;
    margin-top: 3px;
}

.navbar-container > ul{
    display: block;
}

.navbar-container > ul > li{
    text-decoration: none;
    display: inline-block;
}
.navbar-container > ul > li > a{
    color: #eeeeee;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    padding: 50px;
}

.navbar-container > ul > li > a:hover{
    color: #0078ff;
    font-weight: 700;
    font-size: 21px;
    transition: 0.4s;
}


.main-landing-page{
    background-color: #e4e4e4;
    width: 100%;
    min-height: 630px;
    border-radius: 10px;
    padding-top: 20px ;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.info-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    margin-left: 50px;
}

.info-section > h2{
    font-size: 20px;
    margin: 0;
    color: #161616;
}

.info-section > h1{
    font-size: 50px;
    color: #0078ff;
    margin: 0;
}

.info-section > p{
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.main-landing-page > img{
    width: 50%;
    border-radius: 10px;
    height: 500px;
    margin: 30px;
}

#about{
    margin-top: 10px;
}


.about-me-container{
    background-color: #e4e4e4;
    width: 100%;
    border-radius: 10px;
    padding-top: 20px ;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about-me-container > img{
    width: 50%;
    border-radius: 10px;
    height: 500px;
    margin: 30px;
}


.about-col-2{
    flex-basis: 60%;
    width: 300px;
    margin-right: 50px;
}

.about-col-2 .sub-title{
    font-size: 60px;
    font-weight: bold;
    margin: 20px 0px 0px;
    color: #161616;
}

.tab-titles{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.tab-links{

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0078ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0px;
}

.tab-contents ul li span{
    color: #161616;
    font-size: 14px;
    font-weight: bold;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


#portfolio{
    margin-top: 10px;
}

.portfolio-container{
    background-color: #e4e4e4;
    width: 100%;
    border-radius: 10px;
    max-height: 650px;
    overflow: scroll;
    padding-top: 20px ;
    margin: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.portfolio-container > h1{
    position: sticky;
    padding-top: 1100px;
}

.work-list{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    /* overflow: scroll; */
    margin-top: 50px;
}

.fa-solid.fa-arrow-up-right-from-square{
    color: #0a0a0a;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d8d8d8; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0078ff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0300b3; 
  }
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#00000099, #3396FF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer a{
    margin-top: 20px;
    color: #0078ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center ;
}
.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.fa-solid{
    color: #0a0a0a;
    background-color: #202020;
}

@media only screen and (max-width: 600px){
    
    .info-section{
        margin-top: 100%;
        font-size: 40px;
    }
    .info-section h1{
        font-size: 30px;
    }
    .navbar-container .fas{
        display: block;
        font-size: 25px;
    }
    .navbar-container ul{
        background: #3396FF;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .navbar-container ul li{
        display: block;
        margin: 25px;
    }
    .navbar-container ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
}